@import url("https://fonts.googleapis.com/css?family=Permanent+Marker");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab");
:root {
	--primary: #455a64;
	--accent: #102027;
	--dark: #000000;
	--light: #eeeeee;
	--blackColor: #f44336;
	--whiteColor: #03a9f4;
}

::selection {
	background-color: var(--whiteColor);
	color: var(--blackColor);
}

html, body {
	margin: 0;
	background: var(--primary);
	color: var(--accent);
	font-family: "Permanent Marker", cursive;
}

.title-container {
	margin: 1em 1.2em;
}

h1, h4 {
	margin: 0;
}

input[type=checkbox] {
	display: none;
}

.label-checkbox {
	position: absolute;
	top: 10px;
	right: 10px;
	color: var(--accent);
	cursor: pointer;
}

.label-checkbox:hover {
	color: var(--dark);
}

.label-checkbox:active {
	transform: scale(0.8);
}

.colorTurn {
	position: fixed;
	font-family: "Permanent Marker", cursive;
	font-size: 4em;
	font-weight: 700;
	letter-spacing: 8px;
}

.turn {
	right: 16vw;
	top: 40vh;
}

.color {
	left: 12vw;
	top: 40vh;
}

.flex-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.modal {
	position: fixed;
	left: 0;
	right: 0;
	top: 40%;
	width: 400px;
	margin: auto;
	background-color: var(--primary);
	border: 4px solid var(--accent);
	box-shadow: 0 12px 12px 0 rgba(0, 0, 0, .8);
}

.modal p {
	color: var(--light);
	font-size: 1.2em;
}

button[type=submit], input[type=submit] {
	color: var(--accent);
	background-color: var(--primary);
	padding: 0 4px;
	border: 0;
	cursor: pointer;
	font-size: 1.1em;
	font-weight: 700;
	font-family: "Roboto Slab", serif;
	margin: 0 8px 8px 0;
	border-bottom: 2px solid var(--primary);
}

button[type=submit]:hover, input[type=submit]:hover {
	border-bottom: 2px solid var(--accent);
	transition: all 0.3s ease-in-out;
}

input[type=text] {
	background: var(--primary);
	color: var(--light);
	border: 0;
	font-size: 1.1em;
	border-bottom: 2px solid var(--accent);
	margin: 0 8px 8px 0;
}

.chessboard {
	border: var(--accent) 10px solid;
	border-spacing: 0;
	font-family: 'Roboto Slab', serif;
}

/* Mise en forme des noms de ligne/colonne */

.chessboard th {
	padding: 5px;
	color: var(--accent);
}

/* Style des cases de l'echiquier */

.chessboard td {
	/*Dimensionnement relatif au navigateur*/
	width: 8vmin;
	height: 8vmin;
	min-height: 30px;
	min-width: 30px;
	font-size: 6vmin;
	background-color: var(--accent);
	/*couleur par défaut*/
	text-align: center;
}

/* Gestion des cases blanches */

.chessboard tr:nth-child(even) td:nth-child(even), .chessboard tr:nth-child(odd) td:nth-child(odd) {
	background-color: var(--light);
}

/* Gestion des images dans les cases de l'échiquier (option) */

.chessboard td img {
	max-width: 90%;
	max-height: 90%;
}