<!DOCTYPE html>
<html lang="fr">

<head>
	<meta charset="utf-8">
	<title>Online Chess</title>
	<!-- Chargement des styles -->
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
	<!-- Chargement des scripts -->
	<script src="status.js"></script><!-- import de la partie actuelle -->
	<script src="script.js"></script><!-- affichage et gestion de l'échiquier -->
</head>

<body onload="init()">
	<div class="colorTurn color">
		<%= turn %>
	</div>
	<div class="colorTurn turn">
		<span>TURN</span>
	</div>
	<center>
		<div class="title-container">
			<h1>Online Chess</h1>
			<h4>Powered by NodeJS & TypeScript!</h4>
		</div>
		<!-- L'échiquier est un tableau de 8 lignes x 8 colonnes -->
		<table class="chessboard">
			<tr>
				<th></th><th>a</th><th>b</th><th>c</th><th>d</th><th>e</th><th>f</th><th>g</th><th>h</th>
			</tr>
			<tr>
				<th>8</th>
				<td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
				<th>8</th>
			</tr>
			<tr>
				<th>7</th>
				<td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
				<th>7</th>
			</tr>
			<tr>
				<th>6</th>
				<td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
				<th>6</th>
			</tr>
			<tr>
				<th>5</th>
				<td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
				<th>5</th>
			</tr>
			<tr>
				<th>4</th>
				<td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
				<th>4</th>
			</tr>
			<tr>
				<th>3</th>
				<td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
				<th>3</th>
			</tr>
			<tr>
				<th>2</th>
				<td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
				<th>2</th>
			</tr>
			<tr>
				<th>1</th>
				<td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
				<th>1</th>
			</tr>
			<tr>
				<th></th><th>a</th><th>b</th><th>c</th><th>d</th><th>e</th><th>f</th><th>g</th><th>h</th>
			</tr>
		</table><br />
		<!-- Formulaire de saisie et emission du coup à jouer
			 Envoie une requêtes sur '/ (POST)' au serveur -->
		<div class="flex-container">
			<form method="POST">
				<button type="submit" name="back" formaction="back">BACK <i class="fas fa-backward"></i></i></button>
			</form>
				
			<form method="POST">
				<input type="text" name="move" placeholder="Movement (d7-d6)" autofocus autocomplete="off" />
			</form>
			<form method="POST">
				<button type="submit" name="reset" formaction="reset">RESET <i class="fas fa-undo"></i></button>
			</form>
		</div>
		<% if (error !== "") { %>
			<div class="modal">
				<input type="checkbox" id="checkbox" />
				<label class="label-checkbox" for="checkbox">
						<i class="fas fa-times" style="font-size: 24px"></i>
				</label>
				<p><%= error %></p>
			</div>
		<% } %>
		<% if (promotionChoice !== "") { %>
			<div class="modal">
				<p><%= promotionChoice %></p>
				<form method="POST">
					<input type="submit" name="promotionPiece" value="Queen" formaction="promotion" />
					<input type="submit" name="promotionPiece" value="Knight" formaction="promotion" />
					<input type="submit" name="promotionPiece" value="Rook" formaction="promotion" />
					<input type="submit" name="promotionPiece" value="Bishop" formaction="promotion" />
				</form>
			</div>
		<% } %>
	</center>
</body>

</html>